<!-- Formulário Completo -->
<section class="container my-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Adicionar Título</h5>
            <form [formGroup]="form">
                <!-- Linha 1: Nome / Ano / Categoria -->
                <div class="row mb-3">
                    <div class="col">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" formControlName="nome" pattern="^[A-Za-zÀ-ÿ\s]+$"
                            title="Apenas letras são permitidas." minlength="3" maxlength="150" required />
                    </div>
                    <div class="col">
                        <label for="ano" class="form-label">Ano:</label>
                        <input type="number" class="form-control" formControlName="ano" min="1900" max="2099"
                            required />
                    </div>
                    <div class="col">
                        <label for="categoria" class="form-label">Categoria:</label>
                        <input type="text" class="form-control" formControlName="categoria" />
                    </div>
                </div>

                <!-- Linha 2: Sinopse -->
                <div class="row mb-3">
                    <div>
                        <label for="sinopse" class="form-label">Sinopse:</label>
                        <textarea class="form-control" formControlName="sinopse" rows="1" minlength="3" maxlength="500"
                            required></textarea>
                    </div>
                </div>

                <!-- Linha 3: Diretor / Atores -->
                <div class="row mb-3 align-items-end">
                    <!-- Campo Diretor -->
                    <div class="col">
                        <label for="diretor" class="form-label">Diretor:</label>
                        <select class="form-control" formControlName="diretor">
                            <option value="" selected>Selecione um Diretor...</option>
                            <option *ngFor="let diretor of diretores$ | async" [ngValue]="diretor._id">{{ diretor.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto d-flex align-items-end">
                        <button type="button" class="btn btn-outline-primary px-3" [routerLink]="['/diretor/new']">
                            <i class="bi bi-camera-reels-fill"></i>
                        </button>
                    </div>


                    <!-- Campo Atores -->
                    <div class="col">
                        <label for="ator" class="form-label">Atores:</label>
                        <select class="form-control" formControlName="ator" multiple data-live-search="true" size="2">
                            <option value="" disabled>Selecione uma ou mais Atores...</option>
                            <option *ngFor="let ator of atores$ | async" [ngValue]="ator._id">{{ ator.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto d-flex align-items-end">
                        <button type="button" class="btn btn-outline-primary py-3 px-3" [routerLink]="['/ator/new']">
                            <i class="bi bi-person-plus-fill"></i>
                        </button>
                    </div>
                </div>

                <!-- Linha 4: Classe -->
                <div class="row mb-3">
                    <!-- Campo Classe -->
                    <div class="col">
                        <label for="classe" class="form-label">Classe:</label>
                        <select class="form-control" formControlName="classe">
                            <option value="" selected>Selecione uma Classe...</option>
                            <option *ngFor="let classe of classes$ | async" [ngValue]="classe._id">{{ classe.nome }}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto d-flex align-items-end">
                        <button type="button" class="btn btn-outline-primary px-3" [routerLink]="['/classe/new']">
                            <i class="bi bi-bookmark-plus-fill"></i>
                        </button>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4 gap-5">
                    <button (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">Inserir</button>
                    <button (click)="onCancel()" class="btn btn-secondary">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>